.memeDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    transition: margin-left .5s;
}

.btn {
  background-color: white;
  color: #00cfff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

body {
    background-color: #7FDBFF;
    font-family: 'Red Hat Text', serif;
}

h1{
  margin-top: -10px;
  padding-left: 20px;
}

p{
  padding: 0px 20px 0px 20px;
  font-size: 1em;
  line-height: 150%
}


.meme {
    max-width: 94%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: none;
    flex-grow: 1;
    margin: 10 10;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #373232;
  color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3em;
  margin-left: 50px;
  color: white;
  text-decoration: none;
}

.sidebar .closebtn:hover {
  color: #d2c5c5;
}

.openbtn {
  font-size: 3em;
  cursor: pointer;
  background: none;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  bottom: 0;
  left: 0;
  text-shadow: 0 1px 2px black;
}

.musicbtn {
  font-size: 3em;
  cursor: pointer;
  background: none;
  color: white;
  padding: 10px 5px;
  border: none;
  text-shadow: 0 1px 2px black;
}

.openbtn:hover {
  color: #d2c5c5;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media only screen and (max-width: 700px) {
    .meme {
        width: 94%;
        height: auto;
    }
}

@media only screen and (min-width: 701px) {
    .meme {
        height: 500px;
        width: auto;
    }
}